<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{site.site_name}}</title>
    
    <script type="text/javascript" src="//use.typekit.net/nwv6kix.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/global.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
      <header class='main'>
        <h1><a href='/'>Jesse Shawl</a></h1>
      </header>
      <section>
        {{content}}
      </section>
      <footer>
        &copy; Jesse Shawl 2013
      </footer>    
  </body>
</html>